.page-home{
	padding-top:100px;
	text-align:center;
}
.page-home .txta-center{
	text-align: center;
	padding-bottom:50px;
	color:#58a64c;
}
.page-home .layui-carousel img{
	width:100%;
	height:100%;
}
.page-home .layui-carousel .item-box {
	position: relative;
	width:100%;
	height:100%;
}
.page-home .layui-carousel .item-box .tips {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0 40px;
	font-size: 20px;
	color: #fff;
	text-align: left;
}